{%  load static %}

<tr>
    <td>
        {% if effect.icon %}
            <img src="{{ effect.icon.url }}" alt="{{ effect.name }}" width="30" height="30" style="border-radius: 4px;" />
        {% else %}
            <img src="{% static 'images/no_image_placeholder.png' %}" alt="No Icon" width="30" height="30" style="border-radius: 4px;" />
        {% endif %}
    </td>
    <td>
        <a href="javascript:void(0);"
           hx-get="{% url 'ingredients_for_effect_modal' effect.id %}"
           hx-target="#modal"
           hx-swap="innerHTML"
           hx-trigger="click"
        >
            {{ effect.name }}
        </a>
    </td>
    <td>
        {% for ingredienteffect in effect.sorted_ingredienteffects %}
            <a href="{% url 'ingredient_detail' ingredienteffect.ingredient.id %}" style="display: inline-flex; align-items: center; margin-right: 10px;">
                {% if ingredienteffect.ingredient.image %}
                    <img src="{{ ingredienteffect.ingredient.image.url }}"
                         alt="{{ ingredienteffect.ingredient.name }}"
                         width="20"
                         height="20"
                         style="border-radius: 4px; margin-right: 5px;" />
                {% endif %}
                {{ ingredienteffect.ingredient.name }}
            </a>{% if not forloop.last %} {% endif %}
        {% empty %}
            <em>No ingredients found</em>
        {% endfor %}
    </td>
</tr>
